body {
  background-color: rgb(29, 53, 87);
  font-family: $font-stack;
  color: $primary-color;
  a {
    color: $primary-color;
  }
  .loader {
    z-index: 100;
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(4, 17, 36);
    transition: opacity 0.75s, visibility 0.75s;

    &::after {
      content: '';
      width: 90px;
      height: 90px;
      border: 20px solid rgb(221, 221, 221);
      border-top-color: rgb(29, 53, 87);
      border-radius: 50%;
      animation: loading 0.75s ease infinite;
    }
    @keyframes loading {
      from {transform: rotate(0turn)}
      to {transform: rotate(1turn)}
    }
  }
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
}

// hr {
//   border: rgb(230, 57, 70) 3px solid;
//   border-radius: 20px;
//   margin-bottom: 5rem;
//   width: 60%;
// }

// intro startpage //
.container__intro {
  font-family: 'Amatic SC', Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  align-items: center;
  .intro__name {
    font-size: 3.2rem;
    margin: 0;
    text-align: center;
    text-shadow: 3px 3px rgb(31, 31, 31);
  }
  .intro__title {
    margin: 0;
    text-align: center;
    text-shadow: 3px 3px rgb(31, 31, 31);
  }
  #logo {
    
    width: 300px;
    height: 300px;
    margin: 0;
    padding: 2rem;
  }
}

// menu list //
.menu__nav {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem 0;

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .menu__nav-li {
    z-index: 10;
    padding: 1rem 0;
    list-style-type: none;
    margin: 1rem;
    text-shadow: 2px 2px 2px black;
  }
  .menu__nav-link {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 0;
    margin: 0;
    position: relative;
    top: 0;
    width: 100%;
  }
  .menu__nav-link:active {
    background-color: rgb(4, 17, 36);
  }
  .menu__nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
  }
  .menu__nav-link:hover::after {
    color: rgb(230, 57, 70);
    transform: scaleX(1);
    transform-origin: left;
  }
}

// about me view //
.container__education {
  display: flex;
  flex-direction: column;
  .education__list {@include list-shared;}
  h3 {@include h3-shared;}
}
.container__experience {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .experience__list {@include list-shared;}
  h3 {@include h3-shared;}
}
.container__skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .skills__list {@include list-shared;}
  h3 {@include h3-shared;}
}
.container__about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  
  h3 {@include h3-shared;}
  
  p {
    text-align: center;
    font-size: 1.1rem;
    margin: 5% 10%;
    line-height: 2;
  }
}

// portfolio view //
.container__repos {
  margin: auto;

  h3 {@include h3-shared;}

  #githubRepos {
    margin: 3%;
  }
  #githubUl {
    margin: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .repo__list {
    width: 200px;
    padding: 1rem;
    margin: 5%;
    border: 0.3rem solid rgb(230, 57, 70);
    border-radius: 30px;
    list-style: none;
    text-align: center;
  }
  a {
    text-decoration: none;
    color: white;
    position: relative;
    top: 0;
    margin: 2%;
    padding: 1%;
  }
  a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
  }
  a:hover::after {
    color: rgb(230, 112, 121);
    transform: scaleX(1);
    transform-origin: left;
  }
} 

// footer + contact info //
.container__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border: 0.3rem solid rgb(230, 57, 70);
  border-radius: 30px;
  padding: 1rem;
  margin: 3rem;
    h4 {
      font-size: 1.2rem;
      margin-top: 1rem;
    }
    address {
      display: flex;
      padding: 2rem 0;
      flex-wrap: wrap;
      width: 200px;
      justify-content: center;
      font-size: 1rem;
    }
    .contact__mail {
      text-decoration: none;
      color: white;
      position: relative;
      top: 0;
      margin: 2%;
      padding: 1%;
    }
    .contact__mail::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: currentColor;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 250ms ease-in;
    }
    .contact__mail:hover::after {
      color: rgb(230, 112, 121);
      transform: scaleX(1);
      transform-origin: left;
    }
    .fab {
      font-size: 3rem;
      color:rgb(255, 255, 255);
      margin: 4px;
      padding: 1rem;
    }
    .fab:hover {color: rgb(230, 112, 121);}

    .contact__img {
      border-radius: 50%;
      box-shadow: 0rem 0rem 1rem 1rem rgba(219, 34, 42, 0.9);
      margin: 5%;
      width: 200px;
      height: 200px;
    }
}
