@mixin h3-shared {
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    padding: 0.5rem;
    background-color: rgb(69, 123, 157);
    border-radius: 25px;
}

@mixin list-shared { 
    list-style-type: circle;
    font-size: 1.1rem;
    line-height: 1.5;
}